RewriteEngine On
RewriteBase /SLBN_KOTA_KUPANG/pengguna/guru/siswa

# Menghapus ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
